.row
  .col-md-4
    h2 Emneord
    include ./motif-tagging/verified
  .col-md-4
    b Tilføjet af brugere
    include ./motif-tagging/users
  .col-md-4
    b Automatisk billedanalyse
    include ./motif-tagging/vision
