extends player

block document__player
  .document__players
    each player, i in players
      .document__player(
        data-collection=player.collection,
        data-id=player.id
        data-href=player.href
      )
        if(player.type === 'image')
          include ./players/image
        else if(player.type === 'image-downloaded')
          include ./players/image-downloaded
        else if(player.type === 'rotation')
          include ./players/rotation
        else if(player.type === 'audio')
          include ./players/audio
        else if(player.type === 'video')
          include ./players/video
        else if(player.type === 'document')
          include ./players/document
