- let player = helpers.determinePlayer(metadata);
if(player === 'image')
  include ./players/image
else if(player === 'image-downloaded')
  include ./players/image-downloaded
else if(player === 'rotation')
  include ./players/rotation
else if(player === 'audio')
  include ./players/audio
else if(player === 'video')
  include ./players/video
else if(player === 'document')
  include ./players/document
else
  | Couldn't determine player
