@import 'variables';

@import 'bootstrap';
@import 'collections-online';

// Dependencies
@import 'magic360';

// Custom stuff
@import 'object-and-asset';
@import 'topbar';
@import 'sidebar-menu-logo';

html {
  font-size: 87.5%;
}

body {
  overflow-x: hidden; // Enable bleeds without horizontal scroll
  position: relative; // For category menu

  a {
    cursor: pointer;
    outline: none;
  }
}

.main-wrapper {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;

  > .let-it-grow {
    flex-grow: 1;
  }
}

@media (min-width: $large-size) {
  .container-fluid {
    width: $large-size;
  }
}

.sprite {
  display: none;
}

.dimmed {
  opacity: .5;
}

@import 'asset';
