@import 'variables';

@import '../../node_modules/collections-online/app/styles/functions-shadows';
@import '../../node_modules/collections-online/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../../node_modules/collections-online/app/styles/asset';
@import '../../node_modules/collections-online/app/styles/button';
@import '../../node_modules/collections-online/app/styles/container-fluid-expandable';
@import '../../node_modules/collections-online/app/styles/dropdown';
@import '../../node_modules/collections-online/app/styles/facebook-group';
@import '../../node_modules/collections-online/app/styles/footer';
@import '../../node_modules/collections-online/app/styles/frontpage';
@import '../../node_modules/collections-online/app/styles/input';
@import '../../node_modules/collections-online/app/styles/loading';
@import '../../node_modules/collections-online/app/styles/main';
@import '../../node_modules/collections-online/app/styles/menu';
@import '../../node_modules/collections-online/app/styles/overlay';
/* @import '../../node_modules/collections-online/app/styles/search-filter-sidebar'; */
@import '../../node_modules/collections-online/app/styles/search-results';
@import '../../node_modules/collections-online/app/styles/snackbar';
@import '../../node_modules/collections-online/app/styles/tab-focus';
@import '../../node_modules/collections-online/app/styles/tags';
@import '../../node_modules/collections-online/app/styles/thumbnails';
@import '../../node_modules/collections-online/app/styles/to-top';
@import '../../node_modules/collections-online/app/styles/topbar';
@import '../../node_modules/collections-online/app/styles/translate';
@import '../../node_modules/collections-online/app/styles/typography';

/* Dependencies */
@import 'magic360';

html {
  font-size: 87.5%;
}

body {
  // For category menu
  overflow-x: hidden; // Enable bleeds without horizontal scroll
  position  : relative;

  a {
    cursor : pointer;
    outline: none;
  }
}

.main-wrapper {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;

  > .let-it-grow {
    flex-grow: 1;
  }
}

@media (min-width: $large-size) {
  .container-fluid {
    width: $large-size;
  }
}

@media (max-width: $small-size) {
  .small-bleed {
    padding-left : 0;
    padding-right: 0;
  }
}

.sprite {
  display: none;
}

.dimmed {
  opacity: .5;
}
