.object {
  margin-top: $spacer-lg;

  &__image {
    margin-bottom: $spacer-lg;
    max-width: 100%;
  }
}

.asset {
  audio {
    width: 100%;
  }
}

.metadata {
  table {
    width: 100%;
  }

  td,
  th {
    // Override bootstrap col 15 px padding
    padding: 0;
  }

  // ensure som padding on mobile
  th {
    padding-right: 1rem;
    text-align: left;

    @media (min-width: $small-size) {
      padding-left: 0;
    }
  }

  &__description {
    white-space: pre-line;
  }
}
