/app/styles/main.css
node_modules
npm-debug.log
public
.tmp
.sass-cache
app/bower_components
heroku
/views
dist
elasticsearch
.DS_Store

# Atom build settings
.atom-build.json

# Environment variables
.env
