extends map-coordinates

block map-coordinates__add-coordinates-text
  | Placer billede på kort

block map-coordinates__edit-coordinates-text
  | Rediger placering på kort

block map-coordinates__missing-coordinates-text
  | Endnu ikke placeret på kort
