extends asset

block document__bottom-metadata
  .row
    .col-sm-6
      != assetSection('place', metadata)
    .col-sm-6
      != assetSection('time', metadata)
    .clearfix
    .col-sm-6
      != assetSection('additional-information', metadata)
    .col-sm-6
      != assetSection('technical-information', metadata)

append extra
  .facebook-group
    h2 Tusind tak for din hjælp!
    p Hvis du synes det er spændende at bidrage til Nationalmuseets samlinger, så følg med i facebookgruppen&nbsp;
      a(href="https://www.facebook.com/groups/1002729026439527/") Crowdsourcing af Nationalmuseets Samlinger.
    br
    p Dette er første og sidste gang vi forstyrrer dig. Skjul denne besked ved at&nbsp;
      a(href="").ok trykke her.
