extends asset-base

block asset-middle
  .asset-middle
    .container-fluid
      .row
        .col-md-4
          - //const verifiedTags = _.flatten(_.values(metadata.tags.verified));
          - const verifiedTags = ['test'];
          // Tags
          h2 Emneord
          .tags-container
            each tag in verifiedTags
              +tag(tag)
            else
              span.no-tags Der er ingen emneord endnu.

        .col-md-4
          // User tags
          b Tilføjet af brugere
          .tags-container.crowd
            if(!metadata.tags.crowd || metadata.tags.crowd.length === 0)
              span.no-tags Der er ikke tilføjet nogle emneord endnu.

            each tag in metadata.tags.crowd || []
              +tag(tag)
            .material-input
              input(type='text', required='')
              span.bar
              label Indtast nyt emneord og tryk enter
            .btn.btn-primary.btn-small#crowd-btn Tilføj emneord
            .btn.btn-link.btn-small.hidden#stop-crowd-btn Afslut

        .col-md-4
          // Vision tags
          b Automatisk billedanalyse
          .tags-container.vision
            if(!metadata.tags.automated || metadata.tags.automated.length === 0)
              .btn.btn-primary.btn-small#vision-btn
                +loader('Analysér billede')
            each tag in metadata.tags.automated || []
              +tag(tag)
                span.add-tag
                  +icon('thumbup')
