extends index

include ./includes/related-asset.pug

block content

  article.object
    .container-fluid
      .row
        .col-md-6
          .row
            each asset in metadata.related.assets
              .col-md-6
                +relatedAssetImage(asset)
            else
              .col-md-12
                | Ingen relaterede medier
        .col-md-6.metadata
          h1= helpers.documentTitle(metadata)
          - let description = helpers.documentDescription(metadata, null)
          if description
            p= description
          != objectSection('events', metadata)
