extends index

include ./includes/related-asset.jade

block content

  article.object
    .container-fluid
      .row
        .col-md-6
          .row
            each asset in metadata.relatedAssets
              .col-md-6
                +relatedAssetImage(asset)
        .col-md-6
          h1= metadata.workDescription || 'Ingen arbejdsbetegnelse'
    .container-fluid
      .row
        .col-sm-6
          != objectSection('events', metadata)
