extends document

include mixins/related-asset

block document__top-metadata
  .document__top-metadata.col-xs-12.col-sm-5
    h1.document__title= title
    p.document__description= description
    != objectSection('events', metadata)
    != objectSection('objectinfo', metadata)
    != objectSection('time', metadata)
    != objectSection('place', metadata)
    != objectSection('techinfo', metadata)

block document__bottom
  - // Empty - TODO: Consider placing related objects here

block document__overlays
  - // None
