extends index

block content

  article.object
    .container-fluid
      .row
        .col-md-6
          .row
            each asset in metadata.relatedAssets
              .col-md-6= asset.assetID
              - console.log(asset);
        .col-md-6.metadata
          h1= metadata.workDescription || 'Ingen arbejdsbetegnelse'
          != objectSection('place', metadata)
