- let downloadURL = helpers.getDownloadURL(metadata);
audio(controls, src=downloadURL)
  | Undskyld, din browser understøtter ikke dette lydformat du kan
  a(href=downloadURL) downloaded lyden
  | i stedet.
