- let downloadURL = helpers.getDirectDownloadURL(metadata);
audio(
  controls,
  src=downloadURL,
  itemprop='audio'
)
  | Undskyld, din browser understøtter ikke dette lydformat du kan
  a(href=downloadURL) downloaded lyden
  | i stedet.
