- let thumbnailUrl = helpers.getThumbnailURL(metadata, 1280);
img.asset__image(
  src=thumbnailUrl,
  alt=title,
  itemprop=metadata.type==='asset' ? 'about' : 'image',
  data-action='toggle-expandable'
)
