- let downloadURL = helpers.getDownloadURL(metadata);
video(width="100%", controls, src=downloadURL)
  | Undskyld, din browser understøtter ikke dette videoformat du kan
  a(href=downloadURL) downloaded video
  | i stedet.
