- let downloadURL = helpers.getDirectDownloadURL(metadata);
video(
  width="100%",
  controls,
  src=downloadURL,
  itemprop='video',
)
  | Undskyld, din browser understøtter ikke dette videoformat du kan
  a(href=downloadURL) downloaded video
  | i stedet.
